.img_large {
  width: 400px;
  height: 500px;
}

.movie-view {
  text-align: center;
}

.movie-details *{
  margin-bottom: 15px;
}

.movie-view .title{
  display: inline;
  margin-left: 20px;
  font-size: 35pt;
}

.recommended {
  font-size: 35pt;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
}

.recommended .search-results-info {
  margin-top: 30px;
}

.movie-view .description {
    width: 600px;
    margin-left: 34%;
}
